%h1 IGV
= action_parameters do
  - input :bundle, :string, "Bundle path or key name"
  - input :variant_caller, :string, "Variant caller to use", :mutect2
  - input :reference_type, :select, "Reference type", :bundle, :select_options => %w(bundle hg38 b37)
  - input :annotate_bam, :boolean, "Annotate BAM with readname info", false
 
- if defined?(bundle) && defined?(variant_caller) && defined?(annotate_bam)
  - Workflow.require_workflow "Sample"
  - name = Workflow.load_step(bundle).clean_name
  - eval_bundle = HTSBenchmark.job(:eval_bundle, name, :bundle => bundle, :variant_caller => variant_caller, :reference_type => reference_type)

  = tool :view_evaluation_bundle, :eval_bundle => eval_bundle, :annotate_bam => annotate_bam
